<div>
    <% pl.map(function(plant){ %>
        <p>
        
            <%= plant.common_name %>
        </h1>
        <h3>
            <%= plant.genus %>
        </h3>
        <h4>
            <%= plant.family %>
        </h4>
        <img src="<%=  plant.image_url %>" style="max-width:35vh;max-height:45vh" alt="" /><br>


        <a href="https://trefle.io/<%= plant.links.plant %>?token=Fvppw0rWoJBQRNwj0bnOURGVvr7vzGTkAub8v7r3S8M" target="_blank">Link</a>
        </p>
        <% }) %>


</div>